*{
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
}

.nav-item {
    margin: 0.5rem 1.25rem;
    font-size: 1.25rem;
}

#navbar {
    background: whitesmoke;
}

#navbar #nav_brand {
    font-size: 2rem;
    color: #4D5E7C;  
}

#navBarCollapse .nav-link {
    font-size: 1.25rem;
    color: #4D5E7C 
}

#welcome-section {
    z-index: 1000;
    background-image: url("images/learn-to-crochet-background.jpg");
    background-size: cover;
    background-position: 60% 85%;
    background-repeat: no-repeat;
    height: 40rem;
    /* height: 50vh; */
    /* width: 100%; */
    position: relative;
}
/*** PRODUCTS SELECTORS ***/
#welcome-section h1 {
    position: absolute;
    top: 11.5rem;
    left: 1rem;
    color: #2A293E;
}

/******* FOR iPHONE MAX SCREENS *******/
    
    /** FOR PORTRAIT MODE **/
    @media (min-width: 23.4375rem) and (min-height: 50.75rem){
        #welcome-section h1 {
            top: 12rem;
            left: 0.5rem;
        }
    }
    
    /** FOR LANDSCAPE MODE **/
    @media (min-width: 50.75rem) and (min-height: 23.4375rem){
        #welcome-section h1 {
            top: 12.5rem;
            left: 12rem;
        }
    }
/******* FOR IPAD SCREENS *******/
    
    /** FOR PORTRAIT MODE **/
    @media (min-width: 48rem) and (min-height: 64rem){
        #welcome-section h1 {
            top: 13rem;
            left: 10rem;
        }
    }
    
        /** FOR LANDSCAPE MODE **/
        @media (min-width: 64rem) and (min-height: 48rem){
            #welcome-section h1 {
                top: 11.5rem;
                left: 20rem;
            }
        }
    
    
    /******* FOR IPAD PRO SCREENS *******/
    
        /** FOR PORTRAIT MODE **/
    @media (min-width: 64rem) and (min-height: 85.375rem){
        #welcome-section h1 {
            top: 11.5rem;
            left: 20rem;
        }
    }
    
        /** FOR LANDSCAPE MODE **/
    @media (min-width: 85.375rem) and (min-height: 64rem){
        #welcome-section h1 {
            top: 14rem;
            left: 30rem;
        }
    
        #welcome-section {
            background-position: 60% 55%;
        }
    }
    
    /******* FOR LAPTOP SCREENS *******/
    @media (min-width: 80rem) {
        #welcome-section h1 {
            top: 7rem;
            left: 26rem;
        }
    }

#featured-items img {
    width: 18.75rem;
    height: 18.75rem;
}

#featured-items .lead {
    font-size: 0.75rem;
}

#featured-items p:nth-of-type(1) {
    font-weight: 900;
}

#hand-san-paragraph {
    height: 1.125rem;
}

/*** pRODUCTS SELECTORS END ***/

/*** FOOTER SELECTORS ***/

#footer-section{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
}

#footer-section h3{
    font-weight: 900;
    margin: 0;
    padding-top: 10px;
}

@media(min-width: 768px) {
    #footer-section i {
        text-align: center;
    }
}

#footer-section i {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.70rem;
    margin: 0 auto;
}

.footer-links{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-link{
    display: inline-block;
    margin: 1rem 0;
    padding: 0.5rem;
}

.footer-icon{
    width: 3.125rem;
    height: 3.125rem;
}

#credits{
    position: absolute;
    bottom: 0;
    left: 0;
}

/*** FOOTER SELECTORS END ***/

/* #container-image {
    height: 27.5rem;
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

#container-form {
    display: inline-block;
    width: 40%;
} */

